@import "tailwindcss";

@theme base {
    /*Colors*/

    /*Primary*/
    --color-customRed: hsl(10, 79%, 65%);
    --color-customBlue: hsl(186, 34%, 65%);

    /*Neutral*/
    --color-customDarkBrown: hsl(25, 47%, 15%);
    --color-customLightBrown: hsl(28, 10%, 53%);
    --color-customLightRed: hsl(26, 66%, 93%);

    /*Typography*/

    /*Font*/
    --font-ff: "DM Sans";

/*    size*/
    --spacing-lg-container: 40vw;
    --spacing-sm-container: 60vw;
}

@layer base {
    body {
        font-family: var(--font-ff), sans-serif;
        min-height: 100vh;
        display: grid;
        place-content: center;
        row-gap: 2rem;
        padding-block: 2rem;
        background-color: var(--color-customLightRed);
    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}